<!doctype html>
<html class="no-js" lang="{% block html_lang %}{{ language|default('cs-CZ') }}{% endblock html_lang %}">
<!--suppress HtmlRequiredTitleElement -->
<head>
    {% include '@ZakjakubOswisCore/web/html-parts/html-head.html.twig' %}
</head>
{% block html_inner %}
    <body>
    {% include '@ZakjakubOswisCore/web/html-parts/html-body.html.twig' %}
    </body>
{% endblock html_inner %}
</html>
