{% extends '@ZakjakubOswisCore/web/html-skeleton-default.html.twig' %}
{% block body %}
    {% block content %}
        <div class="container">
            <div class="col-12">
                <p>
                    Tělo nenačteno.
                </p>
            </div>
        </div>
    {% endblock %}
    {% include '@ZakjakubOswisCore/web/parts/footer.html.twig' %}
{% endblock %}

