{% extends '@ZakjakubOswisCore/web/html-skeleton-default.html.twig' %}

{% block body %}
    {% block header %}
        {% include '@ZakjakubOswisCore/web/parts/header.html.twig' %}
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="col-12">
                <p>
                    Tělo nenačteno.
                </p>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {% include '@ZakjakubOswisCore/web/parts/footer.html.twig' %}
    {% endblock %}
{% endblock %}

