{% extends '@ZakjakubOswisCore/web/html-skeleton-default.html.twig' %}

{% block body_inner %}
    {% block body_header %}
        {% include '@ZakjakubOswisCore/web/parts/header.html.twig' %}
    {% endblock %}
    {% block body_content %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>
                        Obsah stránky nebyl načten.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body_footer %}
        {% include '@ZakjakubOswisCore/web/parts/footer.html.twig' %}
    {% endblock %}
{% endblock %}

