###> zakjakub/oswis-core-bundle ###
/vendor/
###< symfony/framework-bundle ###
/.idea/php-inspections-ea-ultimate.xml
/.idea/sensiolabsinsight-analysis-storage.xml
/.idea/sensiolabsinsight-settings.xml
/.idea/sensiolabsinsight-violations.xml
/.idea/dictionaries/zakjakub.xml
