<article id="main-description" class="container bg-white-tra60 pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <header>
                <h2 class="big">{{ title }}</h2>
            </header>
            <section>
                <p>
                    {{ message }}
                </p>
            </section>
        </div>
    </div>
</article>
