<div class="container">
    <div class="row">
        <nav class="col-12 mt-5 mb-0 pt-0 small" aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% apply spaceless %}
                    {% block breadcrumb_homapage %}
                        {% include '@OswisOrgOswisCore/web/parts/breadcrumb-item.html.twig'
                            with {'b_url': path('oswis_org_oswis_core_homepage_action'), 'b_title': oswis.web.title, 'b_position': 1} %}
                    {% endblock breadcrumb_homapage %}
                    {% block breadcrumb_loop %}
                        {% for b in breadcrumbs|default %}
                            {% include '@OswisOrgOswisCore/web/parts/breadcrumb-item.html.twig'
                                with {'b_url': b.url, 'b_title': b.title, 'b_position': loop.index} %}
                        {% endfor %}
                    {% endblock breadcrumb_loop %}
                    {% block breadcrumb_last %}
                        {% include '@OswisOrgOswisCore/web/parts/breadcrumb-item.html.twig'
                            with {
                            'b_url': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')),
                            'b_title': block('html_title') is defined ? block('html_title') : title|default(default_title)|default,
                            'b_position': breadcrumbs|default|length + 2,
                            'b_active': true
                        } %}
                    {% endblock breadcrumb_last %}
                {% endapply %}
            </ol>
        </nav>
    </div>
</div>
