{% block footer_content %}
<footer id="main-footer" class="pt-2 pb-3">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="footer-logo col-sm-6 col-lg-4 col-xl-3 order-2 order-lg-1">
            </div>
            <div class="d-none d-xl-block col-xl-1 order-lg-2"></div>
            <div class="col-12 col-lg-4 order-1 order-lg-3">
                <nav class="left-border">
                    <ul class="footer-nav">
                    </ul>
                </nav>
            </div>
            <div class="col-sm-6 col-lg-4 order-3 order-lg-4 text-center text-sm-left">
                <div class="left-border">
                    <p class="text-center text-sm-left">
                        <strong>Technická&nbsp;správa&nbsp;webu:</strong><br>
                        <a href="https://jakubzak.cz" target="_blank">
                            Jakub&nbsp;Žák
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block footer_content %}
