<header>
    <h2 class="text-uppercase mb-2">{{ title }}</h2>
</header>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% block structured_data %}
{% endblock structured_data %}
