{% block content_outer %}
    <div class="row text-justify">
        <div class="col-lg-9">
            {% block content_inner %}
                <header>
                    <h2 class="text-uppercase">Podmínky zpracování osobních údajů</h2>
                </header>
            {% endblock content_inner %}
        </div>
        <div class="d-lg-none col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
            {{ render_hinclude(controller('OswisOrg\\OswisCoreBundle\\Controller\\Web\\WebBannerController::showWebBanner')) }}
        </div>
    </div>
{% endblock content_outer %}
