{% block content %}
    <div class="row text-justify">
        <div class="col-lg-9">
            <header>
                <h2 class="text-uppercase">Podmínky zpracování osobních údajů</h2>
            </header>
        </div>
    </div>
{% endblock content %}