{% block content %}
    <div class="w-100 h-100 d-flex">
        {% block content_inner %}
            {% include '@OswisOrgOswisCore/web/parts/loading-screen.html.twig' %}
        {% endblock content_inner %}
    </div>
{% endblock content %}