<div class="row text-justify">
    <div class="col-lg-9">
        <header><h2 class="text-uppercase">Již brzy!</h2></header>
        <p>Na této adrese již brzy nalezneš náš <strong>uživatelský portál</strong>.</p>
    </div>
</div>
