<div class="row text-justify">
    <div class="col-lg-9">
        <header><h2 class="text-uppercase">Již brzy!</h2></header>
        <p>Na této adrese již brzy nalezneš náš <strong>uživatelský portál</strong>.</p>
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
        {{ render_hinclude(controller('OswisOrg\\OswisCoreBundle\\Controller\\Website\\WebBannerController::showWebBanner')) }}
    </div>
</div>
