{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "portal" %}

{% block html_meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock html_meta_robots %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% include '@OswisOrgOswisCore/web/parts/admin.html.twig' %}
    </main>
{% endblock %}
