{% extends '@ZakjakubOswisCore/web/page-skeleton-default.html.twig' %}

{% block html_description %}Souhlas se zpracováním osobních údajů{% endblock %}
{% block og_description %}{{ block('html_description') }}{% endblock %}
{% block title %}Souhlas se zpracováním osobních údajů{% endblock %}
{% block body_content %}
    <main class="container" id="main-content-container">
        {% include '@ZakjakubOswisCore/web/parts/gdpr.html.twig' %}
    </main>
{% endblock %}
