{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "message" %}

{% block body_content %}
    <main id="message" class="container" id="main-content-container">
        {% include '@OswisOrgOswisCore/web/parts/message.html.twig' %}
    </main>
{% endblock %}

