{% extends '@ZakjakubOswisCore/web/page-skeleton-default.html.twig' %}

{% set page = "portal" %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% include '@ZakjakubOswisCore/web/parts/portal.html.twig' %}
    </main>
{% endblock %}
