<!--suppress HtmlDeprecatedAttribute -->
<table width="100%" style="width:100%;">
    <tr>
        <td width="33%" style="width:33%;">{DATE j.n.Y}</td>
        <td width="33%" style="width:33%; font-size: small;" align="center">{{ oswis.app.name }}</td>
        <td width="33%" style="width:33%; text-align: right;">{PAGENO}/{nbpg}</td>
    </tr>
</table>
