<!--suppress HtmlDeprecatedAttribute -->
<table width="100%" style="width:100%;">
    <tr>
        <td width="100%" style="width:100%;" align="center" style="font-size: small;">{{ title }}</td>
    </tr>
</table>
