{% extends '@!OswisOrgOswisCore/web/parts/header.html.twig' %}

{% block header_container %}
    <div class="container" id="main-header-container">
        <div class="row no-gutter header-row" id="main-header-row">
            <div id="main-header-main-menu" class="col-12 d-print-none">
                {% block main_menu %}
                    {{ render_esi(controller('OswisOrg\\OswisCoreBundle\\Controller\\Web\\WebMenuController::showMenu', {'menu': 'web-admin-menu'})) }}
                {% endblock main_menu %}
            </div>
        </div>
    </div>
{% endblock header_container %}
