<nav id="website-main-menu" class="website-main-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <a href="{{ path('oswis_org_oswis_core_web_admin_homepage') }}" itemprop="url">
        <span itemprop="name">Domů</span>
    </a>
</nav>
