{% extends '@OswisOrgOswisCore/bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Přístup odepřen{% endblock %}
{% block html_description %}Přístup ke stránce byl odepřen.{% endblock %}
{% block og_description %}{{ block('html_description') }}{% endblock %}

{% block error_title %}
    Přístup odepřen
{% endblock error_title %}

{% block error_content %}
    <p>Přístup k požadované stránce byl odepřen.</p>
{% endblock error_content %}
