{% extends '@Twig/Exception/error.html.twig' %}

{% block error_title %}
    Přístup odepřen
{% endblock error_title %}

{% block error_content %}
    <p>Přístup k požadované stránce byl odepřen.</p>
{% endblock error_content %}
