{% set base_url = 'https://oswis.org' %}

<!DOCTYPE html>
<html lang='cs-CZ' dir="ltr" style="width: 100%; margin: 0; padding: 0; min-height: 100%;">
<!-- Jakub Zak, https://jakubzak.cz -->
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='format-detection' content='telephone=yes'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0'>
    <meta name='author' content='Jakub Žák'>
    <meta property='copyright' content='Jakub Žák'>
    <meta name='generator' content='OSWIS - One Simple Web IS'>
    <meta name='Description' content='{% block description %}Zpráva z OSWIS - One Simple Web IS{% endblock %}'>
    <meta name='Keywords' content='oswis,informační,systém,simple,web,is'>
    <meta name='Designer' content='Jakub Žák'>
    <meta name='Revisit-After' content='1 day'>
    <meta name='geo.position' content='49.5922829,17.2633168'>
    <meta name='ICBM' content='49.5922829,17.2633168'>
    <meta name='DC.Language' content='cs-cz'>
    <title>{% block title %}Rezervační systém PřF UP{% endblock %}</title>
    <meta name="msapplication-TileColor" content="#006FAD">
    <meta name="theme-color" content="#006FAD">
    <style type='text/css'>
        table, td, tr, div, p, span {
            font-size: 14px;
            text-align: justify;
        }

        a {
            color: #FFFFFF;
            text-decoration: none !important;
            padding: 0;
            margin: 0;
        }

        h1, h2, h3 {
            color: #FFFFFF;
        }

        @media print {
            body {
                font-size: 11px;
                color: black;
            }

            #logo {
                width: 60%;
                max-width: 250px;
            }

            div, p, li {
                text-align: justify;
                margin-top: 0.5em;
                margin-bottom: 0.2em;
            }

            @page {
                size: portrait;
                margin: 10mm 10mm;
            }

            * {
                margin: 0;
                padding: 0;
            }
        }

        {% block additional_css %}
        {% endblock %}
    </style>
</head>
<body color='#006FAD' style='font-size: 14px;color: #006FAD;box-sizing: content-box;width: 100%;margin: 0 0; padding: 0;'>

<table color='#006FAD' style='background-color: transparent;font-size: 14px;
       color: #006FAD;box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0; '>
    <tr style="box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0;">
        <td style="box-sizing: content-box;width: 100%;height: 100%; margin: 0; padding: 0;">
            {% block content %}
                <table bgcolor="#006FAD" color="#FFFFFF"
                       style="width: 600px; width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;background-color: #006FAD; color: #FFFFFF;">
                    {% block content_logo %}
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="8" style="text-align: center;">
                                <a target='_blank' href='{{ base_url }}'
                                   style="display: block; width: 190px; width: 60%; min-width: 140px; max-width: 280px; margin: 0 auto;">
                                    {% block logo_img %}
                                        <img id='logo' border=0 alt='OSWIS'
                                             src='{{ absolute_url(asset('bundles/zakjakuboswiscore/favicons/apple-touch-icon-180x180.png')) }}'
                                             style='border:0 none; text-align:center; width: 100%; margin: 0 auto; max-width: 280px;'>
                                    {% endblock %}
                                </a>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    {% endblock %}
                    {% block content_content %}
                        <tr>
                            <td colspan="12">
                                Nastala chyba. Obsah zprávy nebyl načten. Kontaktujte nás, prosím.
                            </td>
                        </tr>
                    {% endblock %}
                    {% block content_foot %}
                        <tr>
                            <td colspan="12">
                                <div>
                                    <hr color='#FFFFFF' style='color:#FFFFFF;'>
                                    <small color="#FFFFFF" style="font-size:0.7em;color:#FFFFFF;">
                                        Tento e-mail byl vygenerován a zaslán automaticky aplikací OSWIS.
                                    </small>
                                </div>
                            </td>
                        </tr>
                    {% endblock %}
                </table>
            {% endblock %}
            {% block app_footer %}
                <br>
                <table style="text-align:center;font-size:8.5px;margin-top:30px;margin-bottom:0;padding-bottom:0;color:#006FAD;background-color: transparentD;">
                    <tr style="margin-bottom:0;padding-bottom:0;">
                        <td style="font-size:8.5px;margin-bottom:0;padding-bottom:0;">
                            {% block app_footer_inner %}
                                <small>
                                    Autorem aplikace
                                    <a href="https://oswis.org" title="One Simple Web IS" target="_blank" color="#006FAD" style="color:#006FAD;">OSWIS</a>.
                                    je
                                    <a href="https://jakubzak.cz" title="Jakub Žák" target="_blank" color="#006FAD" style="color:#006FAD;">Jakub Žák</a>.
                                </small>
                            {% endblock %}
                        </td>
                    </tr>
                </table>
            {% endblock %}
        </td>
    </tr>
</table>

<!-- Jakub Zak, https://jakubzak.cz -->
</body>
</html>
