{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}
{% block title %}
    Změna hesla
{% endblock %}
{% block description %}
    Změna hesla u Vašeho uživatelského účtu.
{% endblock %}
{% block content %}
    <table style="width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;">
        <tr>
            <td colspan="2">
                <p>
                    Dobrý den,

                    u Vašeho účtu v informačním systému byl zaznamenán požadavek na změnu hesla pro přihlášení.
                </p>

                {% if tokenUrl %}
                    <p>
                        Nové heslo nastavíte na adrese: <a href="{{ tokenUrl }}" title="Odkaz pro nastavení hesla" target="_blank">{{ tokenUrl }}</a>.
                        Odkaz je platný {{ validHours || 12 }} hodin od vygenerování.
                    </p>
                {% elseif newPassword %}
                    <p>
                        Nově nastavené heslo: {{ newPassword }}
                    </p>
                {% else %}
                    Při změně hesla došlo k problému - nebyl nalezen token pro změnu hesla ani nové heslo.
                    Kontaktujte nás, prosím.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                    <small color="#eb6d25" style="font-size:0.7em;color:#eb6d25;">
                        Tento e-mail byl vygenerován a zaslán automaticky informačním systémem.
                    </small>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}




