{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block description %}Změna hesla u Vašeho uživatelského účtu.{% endblock %}

{% block content_content %}
        <tr>
            <td colspan="2">
                <p>
                    Dobrý den,

                    u Vašeho účtu v informačním systému byl zaznamenán požadavek na změnu hesla pro přihlášení.
                </p>

                {% if type == 'reset-request' %}
                    <p>
                        Nové heslo nastavíte na adrese: <a href="{{ tokenUrl }}" title="Odkaz pro nastavení hesla" target="_blank">{{ tokenUrl }}</a>.
                        Odkaz je platný 12 hodin od vygenerování.
                    </p>
                {% elseif type == 'reset' %}
                    <p>
                        Nové heslo bylo úspěšně nastaveno.
                        {% if password %}
                            <br>Nově nastavené heslo: {{ password }}
                        {% endif %}
                    </p>
                {% else %}
                    <p>
                        Při zpracování požadavku na změnu hesla došlo k chybě.
                    </p>
                {% endif %}
            </td>
        </tr>
{% endblock %}




